header{
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  background: #607d8b;
  color: white;
}
.desktop {
  padding: 40px 70px 40px 70px;
}

.mobile {
  padding: 0 15px 0 15px;
}

@media (max-width: 959px){
  header>h1{
    padding: 0 15px 0 15px;
  }
}

