header{
  display: flex;
  flex-direction: row;
  background: #607d8b;
  color: white;
}
.desktop {
  padding: 44px 70px 44px 70px;
}

.mobile {
  padding: 0 15px 0 15px;
}

@media (max-width: 960px){
  header>h2{
    padding: 0 15px 0 15px;
  }
}
@media (max-width: 600px){
  header>h2{
    padding: 0 0;
  }
}

