<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-card>
      <mat-form-field>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let i of weekCount" [value]="i">第{{i+1+plus}}周</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 400px">
        <input matInput (keyup)="applyFilter($event.target.value, estimations[selected])" placeholder="Filter">
      </mat-form-field>
    </mat-card>
  </div>

  <mat-table #table [dataSource]="estimations[selected]">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> 标题</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="all">
      <mat-header-cell *matHeaderCellDef> 总计</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.all}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ave">
      <mat-header-cell *matHeaderCellDef> 平均</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ave}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="max">
      <mat-header-cell *matHeaderCellDef> 最大</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.max}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="min">
      <mat-header-cell *matHeaderCellDef> 最小</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.min}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
