.writing-body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.writing-body textarea {
  width: 50%;
  resize: none;
  border: none;
  outline: none;
  margin-right: 8px;
}
.writing-body markdown {
  width: 50%;
  padding-left: 8px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);;
}

.writing-tools {

}
