<div class="container">
  <form (ngSubmit)="onSubmit()" #markdownForm="ngForm" [@slideFromBottom]>
    <mat-card class="card-container">
      <mat-card-content>
        <div class="writing-tools">
          <button mat-icon-button><mat-icon>insert_photo</mat-icon></button>
          <button mat-icon-button><mat-icon>remove_red_eye</mat-icon></button>
        </div>
        <hr>
        <div class="writing-body">
          <textarea [(ngModel)]="content" name="content" placeholder="Write here..." (ngModelChange)="resizeTextarea(text)" #text></textarea>
          <markdown [data]="content"></markdown>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button color="accent" type="submit" [disabled]="!markdownForm.form.valid">Submit</button>
      </mat-card-actions>

    </mat-card>
  </form>
</div>




