<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
               [opened]="!mobileQuery.matches" [fixedTopGap]="56">
    <div class="user">
      <img src="../../../assets/img/test_head.png" alt="User head background">
      <p>{{loggedUser?.username}}<br>Hello! Welcome to admin!</p>
    </div>
    <mat-nav-list>
      <h3 mat-subheader>Admin</h3>
      <mat-list-item [routerLink]="['./']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
                     (click)="clickNav('Dashboard', sidenav)">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <a> Dashboard</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['./go-markdown']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
                     (click)="clickNav('Go Markdown', sidenav)">
        <mat-icon mat-list-icon>create</mat-icon>
        <a> Go Markdown</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['./managing']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
                     (click)="clickNav('Managing', sidenav)">
        <mat-icon mat-list-icon>list</mat-icon>
        <a> Managing</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['./about-managing']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
                     (click)="clickNav('About Managing', sidenav)">
        <mat-icon mat-list-icon>account_box</mat-icon>
        <a> About Managing</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['./settings']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
                     (click)="clickNav('Setting', sidenav)">
        <mat-icon mat-list-icon>settings</mat-icon>
        <a> Setting</a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <h3 mat-subheader>Storage</h3>
      <mat-list-item [routerLink]="['./public-files']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
                     (click)="clickNav('Public Files', sidenav)">
        <mat-icon mat-list-icon>cloud</mat-icon>
        <a> Public Files</a>
      </mat-list-item>
      <mat-divider></mat-divider>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [title]="title" [sidenav]="sidenav"></app-header>
    <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
