<app-header [title]="article.title" [isArticle]="true"></app-header>
<div class="container">
  <mat-card class="card-container">
    <mat-card-header class="no-avatar-card">
      <mat-card-subtitle>{{article.subhead}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <markdown [data]="article.content" lineNumbers></markdown>
      <!--Categories -->
      <mat-chip-list>
        <mat-chip *ngFor="let c of article.category">{{c}}</mat-chip>
      </mat-chip-list>
      <!--Footer for author info and date-->
      <mat-card-footer>
        <mat-card-subtitle i18n> {{article.author}} Published on {{article.time|date}}
          <ng-container *ngIf="article.update_time">Update on {{article.update_time|date}}</ng-container>
        </mat-card-subtitle>
      </mat-card-footer>
    </mat-card-content>

    <mat-card-actions></mat-card-actions>
  </mat-card>

  <!--Comments Loading effects-->
  <div class="card-container">
    <h2 id="commentArea">Comments Area</h2>
    <div [@slideFromBottom] *appDataStatus="comments">
      <mat-card *ngFor="let c of comments">
        <mat-card-header class="no-avatar-card">
          <mat-card-subtitle>{{c.author}} <span style="margin-left: 32px">{{c.time | date}}</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{c.content}}</p>
        </mat-card-content>
        <!--<mat-card-actions align="end">
          <button mat-icon-button color="primary" (click)="likeComment(c)">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
            {{c.likes}}
          </button>
        </mat-card-actions>-->
      </mat-card>
    </div>
  </div>

  <form #form="ngForm" (submit)="onSubmit()" class="card-container">
    <h2 i18n>Leave a comment</h2>
    <mat-card>
      <mat-card-content>
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label i18n>Say something</mat-label>
          <label>
            <textarea matInput [(ngModel)]="newComment.content" name="content" autocomplete="off" required></textarea>
          </label>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label i18n>Your Name</mat-label>
          <label>
            <input matInput [(ngModel)]="newComment.author" name="author" autocomplete="off">
          </label>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button type="submit" color="primary" [disabled]="!form.valid" i18n>Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
