<div class="container" style="display: flex;flex-direction:column;align-items:stretch">
  <div *ngFor="let a of articles" [@routerTransition]>
    <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title><h3>{{a.title}}</h3></mat-card-title>
          <mat-card-subtitle>{{a.time}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="a.img" src="{{a.img}}">
        <mat-card-content>
          <p>{{a.subhead}}</p>
          <mat-chip-list>
            <mat-chip *ngFor="let c of a.category">{{c}}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <mat-card-actions>
          <mat-action-row>
            <button mat-button color="primary" [routerLink]="['./', a.id]" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{ exact: true }" i18n>See More
            </button>
          </mat-action-row>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
