<app-header i18n>About this, About me</app-header>
<div style="display: flex;flex-direction:column;align-items:stretch" class="container" [@slideFromBottom]>
  <mat-card class="card-container">
    <!--<h5>{{article.author}}</h5>-->
    <!--<img src="../../../assets/img/ceshi.jpg">-->
    <div #editor></div>
    <app-editor (onQuillInit)="quill=$event" [readonly]="true"></app-editor>
    <div *appProgress="!!article"></div>
    <!--Bottom part, such as time-->
    <mat-chip-list *ngIf="article">
      <mat-chip color="primary" selected="true">{{article.creation_time}}</mat-chip>
      <mat-chip color="accent" selected="true" *ngIf="article.update_time else noUpdate" i18n>
        Updated on {{article.update_time}}
      </mat-chip>
      <ng-template #noUpdate>
        <mat-chip color="accent" selected="true" i18n>No updates</mat-chip>
      </ng-template>
    </mat-chip-list>
  </mat-card>
</div>
