<div class="container">
  <ng-container *ngIf="!url">
    <h1 i18n>Page Not Found</h1>
    <p i18n>We're sorry. The page you are looking for cannot be found.</p>
    <a [routerLink]="['/']" i18n>Back to main site.</a>
  </ng-container>
  <ng-container *ngIf="url">
    <h1 i18n>Server Not Respond</h1>
    <p i18n>We're sorry. The request was not responded by the server.</p>
    <p i18n>The address: {{url}}</p>
    <a [routerLink]="[url]" i18n>Click here to try again.</a>
  </ng-container>
</div>
