<app-header [title]="article.title" [is_article]="true"></app-header>
<div class="container">
  <div style="display: flex;flex-direction:column;align-items:stretch">
    <mat-card class="card-container">
      <!--head of article-->
      <mat-card-header class="no-avatar-card">
        <mat-card-subtitle i18n>{{article.author}} Published on {{article.time}}
          <ng-container *ngIf="article.update_time">Update on {{article.update_time}}</ng-container>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-editor #editor [readonly]="true"></app-editor>
        <mat-chip-list>
          <mat-chip *ngFor="let c of article.category">{{c}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <!--<div *appProgress="article"></div>-->
      <mat-card-actions></mat-card-actions>
    </mat-card>

    <!--Loading effects-->
    <div *appProgress="!!comments"></div>
    <mat-card *ngFor="let c of comments" class="card-container">
      <mat-card-header class="no-avatar-card">
        <mat-card-title><h3>{{c.author}}</h3></mat-card-title>
        <mat-card-subtitle>{{c.time}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{c.content}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button color="primary" (click)="likeComment(c)">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          {{c.likes}}
        </button>
      </mat-card-actions>
    </mat-card>

    <form #form="ngForm" (submit)="onSubmit()">
      <mat-card class="card-container">
        <mat-card-header class="no-avatar-card">
          <mat-card-title><h3 i18n>Leave a comment</h3></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label i18n>Say something</mat-label>
            <label>
              <textarea matInput [(ngModel)]="newComment.content" name="content" autocomplete="off" required></textarea>
            </label>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label i18n>Your Name</mat-label>
            <label>
              <input matInput [(ngModel)]="newComment.author" name="author" autocomplete="off">
            </label>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button type="submit" color="primary" [disabled]="!form.valid" i18n>Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
