mat-sidenav-container{
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: inherit;
}
mat-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  z-index: 3;
  min-width: 300px;
  position: fixed;
  top: 56px;
  bottom: 0;
}

mat-sidenav-content{
  width: 100%;
  overflow: inherit;
}
.user{
  padding: 30px;
  height: 100px;
  background: url("../../../assets/img/background_user.png") no-repeat;
  background-size:100%;
}
.user > img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.user > *{
  color: #ffffff;
}
.active {
  background-color: var(--darkBackgroundColor);
  color: var(--accentColor);
}
