mat-toolbar{
  position: sticky;
  top: 0;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: var(--primaryColor);
  color: white;
  height: 56px;
}
/*input aka search box*/
.search-box {
  height: 40px;
  width: 240px;
  border-radius: 20px;
  border-style: none;
  padding: 0 10px;
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}.search-box:focus {
  border: none;
  background-color: #ffffff;
}
/*button style*/

.search-cancel {
  display: none;
}
/*container and label*/
.search-container {
  display: flex;
  align-items: center;
  margin: 0 16px;
}.search-container > label {
  width: calc(100% - 80px);
}
@media (max-width: 960px) {
  .search-container {
    z-index: 1;
    position: absolute;
  }
  .search-cancel {
    position: absolute;
    color: black;
    display: block;
  }
  .search-box {
    width: 100%;
    padding: 0 40px;
  }
  .search-button {
    color: black;
    position: absolute;
    right: 0;
  }
}
