mat-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  z-index: 3;
  min-width: 300px;
}
mat-sidenav-content {
  width: 100%;
}
mat-sidenav, mat-sidenav-content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  flex: 1 1 auto;
  overflow: auto;
}
mat-sidenav-container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
}
.active{
  background: #eeeeee;
  color: #607d8b;
}
