<div class="container">
  <div style="display: flex;flex-direction:column;align-items:stretch">
    <mat-card *ngFor="let a of listArticle" class="card-container" [@routerTransition]>
      <mat-card-header>
        <!--<div mat-card-avatar></div>-->
        <mat-card-title><h3>{{a.title}}</h3></mat-card-title>
        <mat-card-subtitle>{{a.time}}</mat-card-subtitle>
      </mat-card-header>
      <a [routerLink]="['../something/', a.id]">
        <img mat-card-image *ngIf="a.img" src="{{a.img}}" alt="dashboard image">
      </a>
      <mat-card-content>
        <p>{{a.subhead}}</p>
        <!--<hr>-->
      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-button color="primary" [routerLink]="['../something/', a.id, {backUrl:routerUrl}]" i18n>See More</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
