mat-card{
  width: 450px;
}
mat-form-field{
  //margin-top: 1px;
  width: 100%;
}
mat-card-actions{
  padding-left: 8px;
  padding-right: 8px;
}
.btn-log {
  margin-top: 20px;
  color: white;
  float: right;
}
