:host {
  width: 100%;
}
header {
  display: flex;
  flex-direction: row;
  background: var(--primaryColor);
  color: white;
}
header > h2 {
  display: flex;
  align-items: center;
}
/*Button styles */
.toggle {
  width: 64px;
  margin-right: -8px;
}

/*Matches default value*/
.desktop {
  /*padding: 44px 70px 44px 70px;*/
  padding: 16px 96px;
}

.mobile {
  padding: 0 15px;
}
