mat-sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  z-index: 3;
  min-width: 300px;
  position: fixed;
  top: 56px;
  bottom: 0;
}
mat-sidenav-content {
  width: 100%;
}
//mat-sidenav, mat-sidenav-content{
//  display: flex;
//  flex-direction: column;
//  flex-wrap: nowrap;
//  justify-content: flex-start;
//  align-items: stretch;
//  align-content: flex-start;
//  flex: 1 1 auto;
//  overflow: auto;
//}
mat-sidenav-container{
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: start;
  align-content: flex-start;
  overflow: auto;
}
.active{
  background: var(--darkBackgroundColor);
  color: var(--primaryColor);
}
