body {
  /* Consolas */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Microsoft Yahei UI","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",Roboto,Helvetica,Arial,sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
/* common var */
:root {
  --primaryColor: #607d8b;
  --darkPrimaryColor: #37474f;
  --accentColor: #43a047;
  --backgroundColor: #ffffff;
  --darkBackgroundColor: #eeeeee;
  --mobileWidth: 600px;
  --tabletWidth: 960px;
}
/* scrollbar css */
::-webkit-scrollbar {width: 5px;height:5px;}
::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}
::-webkit-scrollbar-thumb{background: #aaa;min-height: 150px;min-width: 150px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #555555}
::-webkit-scrollbar-thumb:horizontal:hover{background: #555555}
/* change selection color*/
::selection{color:#fff;background-color: var(--accentColor);}
::-moz-selection{color:#fff;background-color: var(--accentColor);}
::-webkit-keygen-select{color:#fff;background-color: var(--accentColor);}
/* common class*/
.container {
  max-width: 1024px;
  padding: 16px;
  margin: 0 auto;
}
.card-container {
  margin: 16px;
}
@media (max-width: 960px){
  .container {
    width: auto;
    padding: 8px;
    margin: 0;
  }
  .card-container {
    margin: 8px;
  }
}
.cursor-pointer{
  cursor: pointer;
}
/* right float css*/
.flex-container {
  display: flex;
}
.flex-spacer {
  flex: 1 0 auto;
}
.float-right {
  float: right;
}

/*!* horizontal/row *!*/
/*app-dashboard, app-admin{*/
/*position: relative;*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*flex: 1 1 auto;*/
/*-webkit-box-flex: 1;*/
/*}*/
/*!* vertical/column *!*/
/*app-login, app-authorisation{*/
/*position: relative;*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-box-orient: vertical;*/
/*-webkit-box-direction: normal;*/
/*-ms-flex-direction: column;*/
/*flex-direction: column;*/
/*flex-wrap: nowrap;*/
/*justify-content: flex-start;*/
/*align-items: stretch;*/
/*align-content: flex-start;*/
/*flex: 1 0 auto;*/
/*-webkit-box-flex: 1;*/
/*}*/
/*!* center *!*/
/*app-login, app-authorisation {*/
/*position: relative;*/
/*justify-content: center;*/
/*align-items: center;*/
/*}*/
