//img {
//  width: 100%;
//  padding: 0 -15px 0 -15px;
//}

.container {
  //margin: 10px 10px 10px 10px;
  max-width: 1024px;
  margin: 15px auto 15px auto;
}
@media (max-width: 959px){
  .container {
    margin: 8px 8px 8px 8px;
  }
}
.spacer {
  flex: 1 1 auto;
}
