<div class="container">
  <mat-card class="card-container">
    <mat-card-header class="no-avatar-card">
      <mat-card-title><h2 i18n>Holacode admin login</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-form-field appearance="standard">
          <mat-label i18n>Name or Email</mat-label>
          <label>
            <input type="text" matInput [(ngModel)]="info.username" name="account" required>
          </label>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label i18n>Password</mat-label>
          <label>
            <input type="password" matInput [(ngModel)]="info.password" name="password" required>
          </label>
        </mat-form-field>
        <mat-card-actions align="end">
          <button type="submit" [disabled]="!loginForm.form.valid" class="btn-log" mat-raised-button color="accent" i18n>
            Log in
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
