mat-form-field{
  //margin-top: 1px;
  width: 100%;
}
mat-card-actions{
  padding-right: 8px;
}
.btn-log {
  margin-top: 20px;
  color: white;
}
/*Rewrite container*/
.container {
  flex-direction: row;
  justify-content:center;
}
