<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-card>
      <mat-form-field>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let i of weeksNum" [value]="i">第{{i+1}}周</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 400px">
        <input matInput (keyup)="applyFilter($event.target.value, weeks[selected])" placeholder="Filter">
      </mat-form-field>
    </mat-card>
  </div>
  <mat-table #table [dataSource]="weeks[selected]">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="project">
      <mat-header-cell *matHeaderCellDef> Project</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.project}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Tile</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="interruption">
      <mat-header-cell *matHeaderCellDef> Interruption</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.interruption}}</mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="net_time">
      <mat-header-cell *matHeaderCellDef> Net Time</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.net_time}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
