<form (ngSubmit)="onSubmit()" #writing="ngForm">
  <mat-tab-group [dynamicHeight]="true">
    <mat-tab label="Writing Article">
      <mat-card class="container">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Title" [(ngModel)]="article.title" name="title" required autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Choose Categories" name="category" [(ngModel)]="article.category" [multiple]="true"
                      [required]="true">
            <mat-option *ngFor="let c of categories" [value]="c.label">
              <mat-icon>{{c.icon}}</mat-icon>
              {{c.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button type="button" color="primary">Add</button>
        <div class="quill-editor">
          <div #editor class="text-box"></div>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Article Options">
      <mat-card class="container">
        <mat-checkbox name="stick" [(ngModel)]="article.stick">Top Article</mat-checkbox>
        <mat-checkbox name="collection" [(ngModel)]="article.collection">Collection</mat-checkbox>
        <mat-checkbox name="about" [(ngModel)]="article.about">About Article</mat-checkbox>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
  <mat-card class="container" style="margin-top: 0">
    <span class="flex-spacer"></span>
    <button mat-raised-button color="accent" type="submit">Submit</button>
    <button mat-raised-button type="button" *ngIf="this.article.hasOwnProperty('id')" [routerLink]="['../managing']">Cancel</button>
    <!--<button mat-raised-button type="button" color="warn">Delete</button>-->
  </mat-card>
</form>
