<form (ngSubmit)="onSubmit()" #writing="ngForm" class="container">
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Title" [(ngModel)]="article.title" name="title" required autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Choose Categories" name="category" [(ngModel)]="article.category" [multiple]="true"
                [required]="true">
      <mat-option *ngFor="let c of categories" [value]="c.label">
        <mat-icon>{{c.icon}}</mat-icon>
        {{c.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button type="button" color="primary">Add</button>
  <div class="quill-editor">
    <div #editor class="text-box"></div>
  </div>
  <div style="display: flex;flex-direction:row;justify-content:space-around;align-items:center">
    <mat-checkbox name="stick" [(ngModel)]="article.stick">Top Article</mat-checkbox>
    <mat-checkbox name="collection" [(ngModel)]="article.collection">Collection</mat-checkbox>
    <mat-checkbox name="about" [(ngModel)]="article.about">About Article</mat-checkbox>
  </div>
  <p style="display: flex">
    <span class="flex-spacer"></span>
    <button mat-raised-button color="accent" type="submit">Submit</button>
    <button mat-raised-button type="button" *ngIf="article.hasOwnProperty('id')" [routerLink]="['../managing']">Cancel
    </button>
    <!--<button mat-raised-button type="button" color="warn">Delete</button>-->
  </p>
</form>
