<mat-toolbar style="font-size: 1rem;">
    <mat-form-field>
      <!--[(value)]="selected"-->
      <mat-select placeholder="Options">
        <mat-option>All</mat-option>
        <mat-option value="stick">Stick</mat-option>
        <mat-option value="collection">Collection</mat-option>
        <mat-option value="about">About</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Search" [(ngModel)]="searchKeyword" (change)="searchArticle()">
      <button mat-button *ngIf="searchKeyword" matSuffix mat-icon-button aria-label="Clear" (click)="searchKeyword=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
</mat-toolbar>
<mat-accordion *appDataStatus="articles">
  <mat-expansion-panel *ngFor="let a of articles" (opened)="openPanel(a.id)">
    <mat-expansion-panel-header>
      <mat-panel-title>{{a.title}}</mat-panel-title> <!--<mat-panel-description></mat-panel-description>-->
    </mat-expansion-panel-header>
    <p>{{a.subhead}}</p>
    <mat-nav-list *appDataStatus="!!comments">
      <ng-container *ngFor="let c of comments">
        <mat-list-item>
          <p matLine>{{c.author}}: {{c.content}}<small>{{c.createdAt}}</small></p>
          <button mat-raised-button color="warn" (click)="deleteComment(c)">Delete</button>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
    <mat-action-row>
      <mat-panel-description><span>{{a.author}} {{a.createdAt}}</span></mat-panel-description>
      <a mat-button color="primary" [routerLink]="['../go-markdown', {id: a.id}]">Modify Article</a>
      <button mat-button color="warn" (click)="deleteArticle(a)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
