.quill-editor {
  margin-bottom: 16px;
}

::ng-deep.quill-editor > .ql-toolbar {
  position: sticky;
  top: 56px;
  z-index: 2;
  background-color: #ffffff;
}

@media (max-width: 600px){
  .ql-editor {
    padding: 0;
  }
}
