footer{
  overflow-x: auto;
  background: var(--darkPrimaryColor);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
h5{
  font-weight: normal;
  margin: 1.33em;
}
a:visited, a:link{
  color: #fafafa;
  text-decoration: none;
}
@media (max-width: 600px){
  .hided-part {
    display: none;
  }
}
.flex-container{
  position: relative;
  background-color: #1976d2;
  color: #fafafa;
  justify-content: space-around;
  line-height: 24px;
  z-index: 0;
  font-weight: 300;
}
.flex-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../../../assets/img/angular-white-transparent.svg") top 0 left 0/320px 50%,
  url("../../../assets/img/angular-white-transparent.svg") top 80px left 160px/320px 50%;
  opacity: .05;
}
