<div style="background-color: #00abff">
<div class="flex-container">
  <section class="hided-part"></section>
  <section>
    <h4>友情链接</h4>
    <p><a href="http://www.artgeek.cn" target="_Blank">艺术极客www.artgeek.cn</a></p>
    <p><a href="https://caijunyi.net" target="_Blank">乐趣尾巴caijunyi.net</a></p>
  </section>
  <section>
    <h4>联系我</h4>
    <p><a>2593605312@qq.com</a></p>
  </section>
</div>
</div>
<footer>
  <h5 (click)="openAbout()" class="cursor-pointer">By zzz</h5>
  <h5 (click)="openRecordWeb()" class="cursor-pointer">鄂ICP备17000673号-1</h5>
  <!--<i class="material-icons mat-18">ic_verified_user</i>-->
</footer>
