<div style="background-color: #00abff">
<div class="flex-container">
  <section class="hided-part"></section>
  <section>
    <h4>友情链接</h4>
    <p><a href="http://www.artgeek.cn" target="_Blank">艺术极客www.artgeek.cn</a></p>
    <p><a href="https://caijunyi.net" target="_Blank">乐趣尾巴caijunyi.net</a></p>
    <p><a href="https://blog.csdn.net/caidewei121" target="_Blank">Gorit的博客blog.csdn.net/caidewei121</a></p>
  </section>
  <section>
    <h4>开源信息</h4>
    <p><a href="https://angular.io" target="_Blank">Angular V6</a></p>
    <p><a href="https://quilljs.com" target="_Blank">Quill Editor</a></p>
    <p><a href="http://tornadoweb.org" target="_Blank">Tornado Web Server</a></p>
    <p><a href="https://github.com/tornadoweb/tornado" target="_Blank">其他开源信息</a></p>
  </section>
</div>
</div>
<footer>
  <h5 (click)="openAbout()" class="cursor-pointer">By zzz</h5>
  <h5> <a href="https://github.com/MirageJian" target="_blank">Github 加个星呗</a></h5>
  <!--<i class="material-icons mat-18">ic_verified_user</i>-->
</footer>
