/* common var */
:root {
  --primaryColor: #1976d2;
  --darkPrimaryColor: #004ba0;
  --accentColor: #fb8c00;
  /*--primaryColor: #607d8b;
  --darkPrimaryColor: #37474f;
  --accentColor: #43a047;*/
  --backgroundColor: #ffffff;
  --darkBackgroundColor: #eeeeee;
  --mobileWidth: 600px;
  --tabletWidth: 960px;
}
body {
  /* Consolas */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Microsoft Yahei UI","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",Roboto,Helvetica,Arial,sans-serif;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.7;
  background-color: #fafafa;
}
/* scrollbar css */
::-webkit-scrollbar {width: 5px;height:5px;}
::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}
::-webkit-scrollbar-thumb{background: #aaa;min-height: 150px;min-width: 150px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #555555}
::-webkit-scrollbar-thumb:horizontal:hover{background: #555555}
/* change selection color*/
::selection{color:#fff;background-color: var(--accentColor);}
::-moz-selection{color:#fff;background-color: var(--accentColor);}
::-webkit-keygen-select{color:#fff;background-color: var(--accentColor);}
/* common class*/
.container {
  max-width: 1024px;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.card-container {
  margin: 16px;
}
/* Mat card additional css modification */
mat-card.card-container > mat-card-content, .card-container > mat-card > mat-card-content {
  margin: 0 16px;
}
@media (max-width: 960px){
  .container {
    width: auto;
    padding: 4px;
    margin: 0;
  }
  .card-container {
    margin: 4px;
  }
  mat-card-header.no-avatar-card > .mat-card-header-text {
    margin: 0;
  }
  mat-card.card-container > mat-card-content, .card-container > mat-card > mat-card-content {
    margin: 0;
  }
}
mat-card-content > p {
  overflow-wrap: break-word;
}
/* Others */
.cursor-pointer{
  cursor: pointer;
}
/* right float css*/
.flex-container {
  display: flex;
}
.flex-spacer {
  flex: 1 0 auto;
}
.float-right {
  float: right;
}


/*!* horizontal/row *!*/
/*app-homepage, app-admin{*/
/*position: relative;*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*flex: 1 1 auto;*/
/*-webkit-box-flex: 1;*/
/*}*/
/*!* vertical/column *!*/
/*position: relative;*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-box-orient: vertical;*/
/*-webkit-box-direction: normal;*/
/*-ms-flex-direction: column;*/
/*flex-direction: column;*/
/*flex-wrap: nowrap;*/
/*justify-content: flex-start;*/
/*align-items: stretch;*/
/*align-content: flex-start;*/
/*flex: 1 0 auto;*/
/*-webkit-box-flex: 1;*/
/*}*/
/*!* center *!*/
/*position: relative;*/
/*justify-content: center;*/
/*align-items: center;*/
/*}*/
