<div style="background-color: #00abff">
  <div class="flex-container">
    <section class="hided-part"></section>
    <section>
      <h4 i18n>Friends' Links</h4>
      <p><a href="http://www.artgeek.cn" target="_Blank">艺术极客</a></p>
      <p><a href="https://www.rcarvalho.ga/" target="_Blank">Rcarvalho</a></p>
      <p><a href="https://amaois.wang/" target="_Blank">My Memories</a></p>
      <p><a href="https://blog.csdn.net/caidewei121" target="_Blank">Gorit</a></p>
    </section>
    <section>
      <h4 i18n>Open source Info</h4>
      <p><a href="https://angular.io" target="_Blank">Angular</a></p>
      <p><a href="http://tornadoweb.org" target="_Blank">Tornado Web Server</a></p>
      <p><a href="https://material.angular.io" target="_Blank">Angular Material</a></p>
      <p><a href="https://github.com/jfcere/ngx-markdown" target="_Blank">ngx-markdown</a></p>
    </section>
  </div>
</div>
<footer>
  <h5 routerLink="/about" class="cursor-pointer" i18n>By CJ</h5>
  <h5><a href="https://github.com/MirageJian" target="_blank" i18n>Star in Github</a></h5>
</footer>
