<mat-card>
  <span>这里包含了项目，点击项目查看活动</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="openDialogProject(0, 1)">New</button>
</mat-card>
<mat-accordion>
  <mat-expansion-panel *ngFor="let p of projectsInfo" (opened)="opened(p.id)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{p.theme}}
      </mat-panel-title>
      <mat-panel-description>
        {{p.date_start}} {{p.date_end}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list *appProgress="activitiesInfo">
      <ng-container *ngFor="let a of activitiesInfo">
        <mat-divider></mat-divider>
        <mat-list-item (click)="openDialogActivity(a.id, p.id,0)">
          <a matLine><strong>{{a.title}}</strong> <span *ngIf="!a.net_time" style="color: red">此活动未结束
                        </span><span *ngIf="a.net_time">{{a.net_time}}分钟</span></a>
          <p matLine>{{a.date}}</p>
          <button mat-raised-button color="primary" (click)="endActivity($event, a)">End</button>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
    <mat-action-row>
      <button mat-button color="accent" (click)="openDialogActivity(0, p.id, 1)">Add Activity</button>
      <button mat-button color="primary" (click)="openDialogProject(p.id, 0)">Edit Project</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
