<div class="container">
  <!--<img src="assets/images/support/angular-404.svg" width="300" height="300">-->
  <ng-container *ngIf="errorPageEnum.notFound == type">
    <h1>Page Not Found</h1>
    <p>We're sorry. The page you are looking for cannot be found.</p>
    <a routerLink="/">Back to main site.</a>
  </ng-container>
  <ng-container *ngIf="errorPageEnum.notResponded == type">
    <h1>Server Not Respond</h1>
    <p>We're sorry. The request was not responded by the server.</p>
    <a routerLink="/">Refresh and back to main site.</a>
  </ng-container>
</div>
