<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/something']" routerLinkActive (click)="label=null">
        <mat-icon mat-list-icon>filter_list</mat-icon>
        <h4 mat-line i18n>Filter</h4>
      </a>
      <mat-divider></mat-divider>
      <h3 mat-subheader i18n>Category</h3>
      <!-- [class.selected]="hero.id === selectedId" -->
      <a mat-list-item *ngFor="let item of categories" [routerLink]="['./', {label: item.label}]" routerLinkActive>
        <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
        <h4 mat-line>{{item.label}}</h4>
        <p mat-line> {{item.icon}} </p>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [sidenav]="sidenav" [matches]="mobileQuery.matches">{{label ? label : "Filter"}}</app-header>
    <router-outlet></router-outlet>
    <app-assortment *ngIf="!label"></app-assortment>
    <app-list-articles *ngIf="label" [label]="label"></app-list-articles>
  </mat-sidenav-content>
</mat-sidenav-container>
