textarea {
  height: 100px;
}
mat-card-footer {
  padding: 0 16px;
  text-align: right;
}
mat-chip-list {
  display: block;
  padding: 8px 0;
}
mat-card-header > .mat-card-header-text {
  width: 100%;
}
mat-card-subtitle {
  width: 100%;
}
