<mat-tab-group [dynamicHeight]="true">
  <mat-tab label="Apk Upload">
    <mat-card class="card-container">
      <form>
        <input #fileInput name="PoYoungApk" type="file" (change)="changeFile($event)" style="display: none">
        <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">Upload PoYoung File</button>
        <h4>{{filename}}</h4>
      </form>
    </mat-card>
  </mat-tab>
  <mat-tab label="Users Management">
    <div class="container">
      <table mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of usersColumns.slice(0, -1)">
          <th mat-header-cell *matHeaderCellDef> {{column}}</th>
          <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef> operation</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" type="button" (click)="deleteUser(element)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="usersColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: usersColumns;"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Py Code">
    <div class="container">
      <mat-card style="margin-bottom: 16px;">
        <mat-card-header>
          <mat-card-title><h3>Add Py Code</h3></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form #timesForm="ngForm" (submit)="addCode(newCode)">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Times" name="times" [(ngModel)]="newCode.times" #times="ngModel" required autocomplete="off">
            </mat-form-field>
            <div class="flex-container">
              <span class="flex-spacer"></span>
              <button mat-raised-button color="primary" type="submit" [disabled]="!timesForm.form.valid">Add New Code</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <table mat-table [dataSource]="codes" class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of codesColumns.slice(0, -1)">
          <th mat-header-cell *matHeaderCellDef> {{column}}</th>
          <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef> operation</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" type="button" (click)="deleteCode(element)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="codesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: codesColumns;"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Records Management">
    <div class="container">
      <table mat-table [dataSource]="records" class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of recordsColumns.slice(0, -1)">
          <th mat-header-cell *matHeaderCellDef> {{column}}</th>
          <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef> operation</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" type="button" (click)="deleteRecord(element)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="recordsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: recordsColumns;"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
<mat-toolbar>
  <p>这里是测试</p>
</mat-toolbar>

<!--<button mat-raised-button type="button" color="warn">Delete</button>-->
