.editor-container {
  display: block;
  margin-bottom: 16px;
}
::ng-deep.editor-container > .ql-container > .ql-editor {
  padding: 4px;
}
/*border of editor*/
::ng-deep.editor-container > .ql-container {
  border: none;
}
::ng-deep.editor-container > .ql-toolbar {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
/*toolbar*/
::ng-deep.editor-container > .ql-toolbar {
  position: sticky;
  top: 56px;
  z-index: 2;
  background-color: #ffffff;
  padding: 8px 0;
}

@media (max-width: 600px){
  .ql-editor {
    padding: 0;
  }
}
