<div class="container">
  <div style="display: flex;flex-direction:column;justify-content:space-around;align-items:center">
    <mat-card>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-card-header>
          <h2>Holacode</h2>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input type="text" matInput placeholder="Name or Email" [(ngModel)]="info.account" name="account"
                   #account="ngModel" required>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" [(ngModel)]="info.password" name="password"
                   #password="ngModel" required>
          </mat-form-field>
          <button type="submit" [disabled]="!loginForm.form.valid" class="btn-log" mat-raised-button color="accent">
            Log in
          </button>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
