<h1 mat-dialog-title>Project</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="theForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Theme Or Name" formControlName="theme">
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Start of Date" formControlName="date_start">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="End of Date" formControlName="date_end">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Remark" formControlName="remark">
        </mat-form-field>
        <mat-divider></mat-divider>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" (click)="dialogRef.close();">Cancel</button>
        <button mat-button type="button" color="warn" (click)="deleteProject()" *ngIf="data.id!=0">Delete Project</button>
        <button mat-button type="submit" color="primary" [disabled]="!theForm.valid">Ok</button>
    </div>
</form>
