<mat-toolbar>
  <a mat-button [routerLink]="['/']"><span i18n>Home</span></a>
  <a mat-button [routerLink]="['/something']"><span i18n>Articles</span></a>
  <a mat-button [routerLink]="['/about']"><span i18n>About</span></a>
  <div class="flex-spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon aria-label="">more_vert</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <a mat-menu-item [routerLink]="['/admin']" routerLinkActive="router-link-active">
      <mat-icon>person</mat-icon>
      <span *ngIf="loginService.userName else showLogin">{{loginService.userName}}</span>
      <ng-template #showLogin><span i18n>Log in</span></ng-template>
    </a>
    <button mat-menu-item>
      <mat-icon>search</mat-icon>
      <span i18n>Search</span>
    </button>
    <a mat-menu-item [routerLink]="['/admin/writing']" routerLinkActive="router-link-active">
      <mat-icon>create</mat-icon>
      <span i18n>Write</span>
    </a>
    <a mat-menu-item [routerLink]="['/admin/workbook']" routerLinkActive="router-link-active">
      <mat-icon>timeline</mat-icon>
      <span i18n>Workbook</span>
    </a>
    <!--use zh to change the language-->
    <a mat-menu-item [href]="localeId == 'zh'?'https://holacodes.com':'https://holacodes.com/zh/'">
      <mat-icon>translate</mat-icon>
      <span>{{localeId == 'zh' ? 'English' : '中文'}}</span>
    </a>
    <button *ngIf="loginService.userName!=null" mat-menu-item (click)="logout()" routerLinkActive="router-link-active">
      <mat-icon>exit_to_app</mat-icon>
      <span i18n>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>
