<mat-toolbar>
  <button mat-button [routerLink]="['/']"><span>Home</span></button>
  <button mat-button [routerLink]="['/something']"><span>Articles</span></button>
  <button mat-button [routerLink]="['/about']"><span>About</span></button>
  <div class="flex-spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon aria-label="">more_vert</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item [routerLink]="['/admin']" routerLinkActive="router-link-active">
      <mat-icon>person</mat-icon>
      <span>{{loginService.userName}}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>search</mat-icon>
      <span>搜索</span>
    </button>
    <button mat-menu-item [routerLink]="['/admin/writing']" routerLinkActive="router-link-active">
      <mat-icon>create</mat-icon>
      <span>写东西</span>
    </button>
    <button mat-menu-item [routerLink]="['/admin/workbook']" routerLinkActive="router-link-active">
      <mat-icon>timeline</mat-icon>
      <span>工作本</span>
    </button>
    <button mat-menu-item>
      <mat-icon>translate</mat-icon>
      <span>中文</span>
    </button>
    <button *ngIf="loginService.userName!='登陆'" mat-menu-item (click)="logout()" routerLinkActive="router-link-active">
      <mat-icon>exit_to_app</mat-icon>
      <span>登出</span>
    </button>
  </mat-menu>
</mat-toolbar>
