<div class="container">
  <!--<img src="assets/images/support/angular-404.svg" width="300" height="300">-->
  <ng-container *ngIf="errorPageEnum.notFound == type">
    <h1 i18n>Page Not Found</h1>
    <p i18n>We're sorry. The page you are looking for cannot be found.</p>
    <a routerLink="/" i18n>Back to main site.</a>
  </ng-container>
  <ng-container *ngIf="errorPageEnum.notResponded == type">
    <h1 i18n>Server Not Respond</h1>
    <p i18n>We're sorry. The request was not responded by the server.</p>
    <a routerLink="/" i18n>Refresh and back to main site.</a>
  </ng-container>
</div>
