<!--[selectedIndex]="num" (selectedTabChange)="showSelected($event)"-->
<mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="onTabChange()">
  <mat-tab label="项目">
    <div>
      <h2>项目表</h2>
      <app-project></app-project>
    </div>
  </mat-tab>
  <mat-tab label="周活动表" class="tab-content">
    <div>
      <h2>周活动表</h2>
      <app-week-book [allActivities]="all"></app-week-book>
    </div>
  </mat-tab>
  <mat-tab label="周活动总结表">
    <div>
      <h2>周活动总结表</h2>
      <app-summary-week [allActivities]="all"></app-summary-week>
    </div>
  </mat-tab>
  <mat-tab label="除上一周累计">
    <div>
      <h2>除上一周累计</h2>
      <app-estimation-week [allActivities]="all" [plus]="1"></app-estimation-week>
    </div>
  </mat-tab>
  <mat-tab label="所有周累计">
    <div>
      <h2>所有周累计</h2>
      <app-estimation-week [allActivities]="all" [plus]="0"></app-estimation-week>
    </div>
  </mat-tab>
</mat-tab-group>


