/*Editor body*/
.editor-area {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.editor-area textarea {
  min-height: 200px;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}
/*Toolbar*/
.markdown-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 56px;
  background-color: var(--backgroundColor);
  z-index: 2;
  padding-top: 16px;
  margin-top: -16px;
}
.markdown-toolbar > .cursor-pointer {
  margin-right: 8px;
}.markdown-toolbar > .cursor-pointer:hover {
  color: var(--accentColor)
}

hr {
  border-bottom: 1px solid #ccc;
  border-top: none;
  margin-left: -16px;
  margin-right: -16px;
}
